@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30, 35, 38, 0.555), rgba(30, 35, 38, 0.74)),
    url("imagenes/image\ fondo.jpg");
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326bb;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 1px solid #1CB698;
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 10%;
    transition: -1s;
}

.inicio .contenido-banner img:hover{
    filter: grayscale(80%);
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}



/* SECCION CURRICULUM */
.curriculum{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}
/* SECCION PORTFOLIO */
.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 115%;
    display: block;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 115%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(7, 7, 7, 0.459), rgba(255, 255, 255, 0.404));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 0.5s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}













/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-swidth: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}




.portfolio .galeria .proyecto img {
    width: 115%;
    display: block;
}



.portfolio .galeria .proyecto img {
    width: 100%;
    height: auto;
    display: block;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.inicio .contenido-banner img {
    width: 100%;
    max-width: 300px; /* Ajusta esto según tu diseño */
    height: auto;
    border-radius: 10%; /* Opcional */
    margin: 0 auto;
}
@media screen and (max-width: 700px) {
    .portfolio .galeria .proyecto img {
        width: 100%;
        height: auto;
    }
    .inicio .contenido-banner img {
        width: 80%; /* Ajusta según sea necesario */
        max-width: none;
    }
}



.portfolio .galeria .proyecto img {
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
}

.portfolio .galeria .proyecto img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen */
}


.portfolio .galeria .proyecto {
    position: relative;
    overflow: hidden; /* Asegúrate de que el contenido no desborde */
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6); /* Ajusta la opacidad */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.portfolio .galeria .proyecto:hover .overlay {
    opacity: 1; /* Aparece suavemente al hacer hover */
}


.portfolio .galeria .proyecto img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.portfolio .galeria .proyecto:hover img {
    transform: scale(1.1); /* Amplía ligeramente la imagen */
}
.portfolio .galeria .proyecto img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.portfolio .galeria .proyecto:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
}
.portfolio .galeria .proyecto img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen dentro de su contenedor */
    transition: transform 0.3s ease-in-out;
}

.portfolio .galeria .proyecto:hover img {
    transform: scale(1.05);
}















.portfolio .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre las imágenes */
    justify-items: center; /* Alinea las imágenes al centro */
    margin-top: 20px; /* Añade un margen superior si es necesario */
}

.portfolio .galeria .proyecto {
    position: relative;
    width: 100%;
    height: auto;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que las imágenes se ajusten sin deformarse */
    transition: transform 0.3s ease-in-out;
}

.portfolio .galeria .proyecto:hover img {
    transform: scale(1.05);
}


.portfolio .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre las imágenes */
    justify-items: center; /* Alinea las imágenes al centro */
    margin-top: 20px; /* Añade un margen superior si es necesario */
}

.portfolio .galeria .proyecto {
    position: relative;
    width: 100%;
    height: auto;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que las imágenes se ajusten sin deformarse */
    transition: transform 0.3s ease-in-out;
}

.portfolio .galeria .proyecto:hover img {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .portfolio .galeria {
        grid-template-columns: repeat(1, 1fr); /* Una columna para pantallas más pequeñas */
    }
}





/* Estilo para el color de la barra de progreso en Chrome, Safari, y Opera */
audio::-webkit-media-controls-panel {
    background-color: #1e2326; /* Cambia el color del panel de controles */
    border: none;
}

/* Cambiar color de la barra de progreso en Firefox */
audio::-moz-progress-bar {
    background-color: #1e2326bb; /* Cambia el color de la barra de progreso */
    border: none;
}


.curriculum2{
    background: #1e2326;
    color: #fff;
    text-align: center;
}

.curriculum2 h2{
    color: #1CB698;
}
.curriculum2 h2{
    color: #1CB698;
}
.curriculum2 .h2{
    color: #ffffff;
}
.curriculum2 .p{
    font-size: 15px;
    color: #ffffff85;
}

.oe{
    position: relative;
    top: 70px;
}

.curriculum2 h1{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}


#curriculum2 img {
    width: 700px !important;
    height: 200px !important;
    background: #1e2326;
    width: 100%;   /* Esto hará que la imagen ocupe todo el ancho de la sección */
    max-width: 600px; /* Puedes ajustar el tamaño máximo si lo necesitas */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen se muestre como bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */


}

@media (max-width: 600px) {
    #curriculum22 {
        font-size: 1.5rem; /* Reduce el tamaño del título */
    }

    h2 {
        font-size: 1.2rem; /* Reduce el tamaño de los subtítulos */
    }

    p {
        font-size: 0.9rem; /* Reduce el tamaño de los párrafos */
    }

    #curriculum2 img {
        max-width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor en móviles */
    }
}

/* Para pantallas medianas (tabletas) */
@media (max-width: 768px) {
    #curriculum22 {
        font-size: 1.75rem; /* Tamaño de fuente para tabletas */
    }

    h2 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }
}

/* Para pantallas grandes (pantallas de escritorio) */
@media (min-width: 1024px) {
    #curriculum22 {
        font-size: 2.5rem; /* Tamaño de fuente más grande para pantallas grandes */
    }

    h2 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.1rem;
    }
}
